<footer class="footer">
  <small style="font-size: 16px">
    David's Rental <i class="fa fa-copyright"></i>
  </small>
  <nav>
    <ul>
      <li>Contact Us:</li>
      <li style="font-size: 16px">
        <%= link_to '#' do %>
            <i class="fa fa-facebook-square"></i>
        <% end %>
      </li>
      <li>
        <%= link_to '#' do %>
            <i class="fa fa-whatsapp"></i>
        <% end %>
      </li>
      <li>
        <%= link_to '#', class: 'hidden' do %>
            <i class="fa fa-facebook-official"></i>
        <% end %>
      </li>
    </ul>
  </nav>
</footer>